.ipynb_checkpoints/*
__pycache__/
neo_albert_model/*
alber_infence.csv
./*.pth
*.bin
.vscode/
detectron/demo/files/*

detectron/demo/yolov8n-cls.pt
detectron/demo/yolov8n-pose.pt
detectron/demo/yolov8n-seg.pt
detectron/demo/0_0.jpg
memory.db
detectron/demo/knowledge_bases/*
!detectron/demo/knowledge_bases/.env
!detectron/demo/knowledge_bases/settings.yaml